.row {
    width: 100%;
    margin-top: 40px;
    padding: 30px 30px 10px 10px;
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px goldenrod;
    position: relative;
}

.row__title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.row__posters {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
    display: none
}

.row__poster-wrapper {
    width: 150px;
    height: 200px;
    margin-right: 5px;
    flex-shrink: 0;
    position: relative;
    perspective: 600px;
    transform-style: preserve-3d;
}

.row__poster,
.row__poster--back {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 6px 0#000;
}


.row__poster--back {
    z-index: 1;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translateZ(-300px);
}


.row__poster {
    z-index: 3;
    transition: all 1s ease;
    transform-origin: left;
}

.row__poster-wrapper:hover .row__poster,
.active-poster {
    transform: translateZ(50px) rotateY(90deg);
}

.row__poster-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 2;
    width: 100%;
    padding: 8px;
    transform: translate3d(-50%, 0, -200px);
    box-shadow: 0 0 10px 0 goldenrod;
    cursor: pointer;
    background: goldenrod;
    font-size: 1.2rem;
    font-family: 'Cinzel', serif;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    transition: all .3s linear;
    transform-origin: center;
}

.row__poster-btn:hover,
.active-btn {
    background: rgba(53, 53, 53, 0.7);
    transform: translate3d(-50%, 0, -150px) rotateY(30deg) rotateX(30deg);
}

.row__btn{
    border: none;
    outline: none;
    display: block;
    width: 0;
    height: 0;
    background: rgba(53, 53, 53, 0.9);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 190px;
    /* transform: translateY(-50%); */
}
.row__btn-left {
    left: 0;
    border-right: 20px solid goldenrod;
}
.row__btn-right {
    right: 0;
    border-left: 20px solid goldenrod;
}